<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>{{homepageTitle}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="description" content="滕运锋,英文名Yakima Teng,2013年毕业于沈阳药科大学&middot;药学(食品药学方向)专业。博客主要记录了一些生活琐碎、思考感悟,以及药学和IT方面的一些技术文章。">
  <link rel="shortcut icon" href="img/favicon.ico">
  <noscript>您的浏览器不支持JavaScript或者JavaScript的运行被您禁止了。</noscript>
  <link rel="stylesheet" href="css/app.min.css">
</head>
<body class="transition">
  <header class="page-header">
    <nav class="transition">
      <ul>
        <li v-for="x in menus">
          <a :href="'#' + x.hash"  v-on:click.prevent="scroll">{{x.title}}</a>
        </li>
      </ul>
    </nav>
    <h1>{{homepageTitle}}</h1>
  </header>

  <article class="page-content">
    <div class="page-utilities clearfix text-center">
      <span class="float-left">滕运锋</span>
      <span>欢迎</span>
      <span class="float-right">Yakima Teng</span>
    </div>
    <section v-for="(index, item) in menus" class="page-section">
      <aside class="section-sidebar">
        <nav class="menu">
          <ul>
            <li v-for="x in menus">
              <a :class="{'active': ($index == index)}" :href="'#' + x.hash" @click.prevent="scroll">{{x.title}}</a>
            </li>
          </ul>
        </nav>
      </aside>
      <article :id="item.hash" class="section-content">
        <template v-if="item.hash === 'basic'">
          <ul class="table-box">
            <li v-for="x in basic.items">
              <span>{{x.title}}</span>
              <span>{{x.detail}}</span>
            </li>
          </ul>
        </template>
        <template v-if="item.hash === 'skills'">
          <ul class="arrow-box">
            <li v-for="x in skills.items" :style="{width: x.percentage}" class="item">
              <a class="link" @click.prevent="" href="##">{{x.keywords}}</a>
            </li>
          </ul>
        </template>
        <template v-if="item.hash === 'career'">
          <ul class="list-box text-center">
            <li v-for="x in career.items">
              <ul class="list-item">
                <li v-for="y in x"><span>{{y}}</span></li>
              </ul>
            </li>
          </ul>
        </template>
        <template v-if="item.hash === 'education'">
          <ul class="shadow-box clearfix">
            <li v-for="x in education.items">
              <h3>{{x.title}}</h3>
              <ul>
                <li v-for="y in x.details">{{y}}</li>
              </ul>
            </li>
          </ul>
        </template>
        <template v-if="item.hash === 'demos'">
          <ul class="arrow-box">
            <li v-for="x in demos.items">
              <header class="header">
                <span class="left">{{x.title}}</span>
                <span class="right">{{x.duration}}</span>
              </header>
              <article class="article">
                <section class="left">
                  <h3 class="skills">
                    <span v-for="skill in x.skills" class="skill">{{skill}}</span>
                  </h3>
                  <article class="content">
                    <p v-for="y in x.description" class="paragraph">{{y}}</p>
                  </article>
                </section>
              </article>
            </li>
          </ul>
        </template>
        <template v-if="item.hash === 'books'">
          <h4 class="text-center">Total: {{books.total}}, and recent 20 are as belows:</h4>
          <ul class="card-box text-center">
            <li v-for="x in books.details">
            <span class="transition">
              <img :src="x.book.images.large" :alt="x.book.title">
              <aside class="transition">{{x.book.isbn13}}</aside>
            </span>
            </li>
          </ul>
        </template>
        <!-- <template v-if="item.hash === 'photos'">
          <ul class="container-box text-center">
            <li v-for="x in photos">
              <img class="transition" :src="x.url" :alt="x.description">
              <aside class="transition">{{x.description}}</aside>
            </li>
          </ul>
        </template> -->
      </article>
    </section>

    <div class="shut">找工作暂停...</div>
  </article> <!--结束section#frames-->

  <div class="decoration"></div>
  <script src="js/app.min.js"></script>
</body>
</html>