<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>Yakima Teng's CV | 滕运锋的简历</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="description" content="滕运锋,英文名Yakima Teng,2013年毕业于沈阳药科大学&middot;药学(食品药学方向)专业。这是我的在线简历。">
  <link rel="shortcut icon" href="img/favicon.ico">
  <noscript>您的浏览器不支持JavaScript或者JavaScript的运行被您禁止了。</noscript>
  <link rel="stylesheet" href="css/app.min.css">
</head>
<body :class="{'show-body': showBody}" class="body transition">
  <header class="page-header">
    <nav class="nav">
      <ul class="ul">
        <li v-for="x in menus" class="li">
          <a :href="'#' + x.hash" v-on:click.prevent="scroll" class="link">{{x.title[l]}}</a>
        </li>
      </ul>
    </nav>
    <h1 class="title">{{l === 'CH' ? '滕运锋的简历' : 'Yakima Teng\' CV'}}</h1>
  </header>

  <article class="page-content">
    <div :class="{'shine': showBody}" class="page-utilities clearfix text-center">
      <a href="./CV_Frontend_Yakima_CH.pdf" class="item float-left">{{l === 'CH' ? '中文简历下载' : 'Chinese CV Download'}}</a>
      <a @click.prevent="toggleLanguage" class="item">{{l === 'CH' ? 'English Version' : '中文版'}}</a>
      <a href="./CV_Frontend_Yakima_EN.pdf" class="item float-right">{{l === 'CH' ? '英文简历下载' : 'English CV Download'}}</a>
    </div>
    <section v-for="(index, item) in menus" class="page-section">
      <aside class="section-sidebar">
        <nav class="menu">
          <ul class="items">
            <li v-for="x in menus" class="item">
              <a :class="{'active': ($index == index)}" :href="'#' + x.hash" @click.prevent="scroll" class="text">{{x.title[l]}}</a>
            </li>
          </ul>
        </nav>
      </aside>
      <template v-if="item.hash === 'basic'">
        <article :id="item.hash" class="section-content h260">
          <ul class="shadow-box clearfix">
            <li v-for="x in basic.items" class="list">
              <h3 class="title">{{x.title[l]}}</h3>
              <ul class="items">
                <li v-for="y in x.details[l]" class="item">{{y}}</li>
              </ul>
            </li>
          </ul>
        </article>
      </template>
      <template v-if="item.hash === 'skills'">
        <article :id="item.hash" class="section-content">
          <ul class="arrow-box">
            <li v-for="x in skills.items" class="item">
              <a class="link" @click.prevent="" href="##">{{x.desc[l]}}</a>
            </li>
          </ul>
        </article>
      </template>
      <template v-if="item.hash === 'demos'">
        <article :id="item.hash" class="section-content">
          <ul class="demo-box">
            <li v-for="x in demos.items" class="demo">
              <header class="header">
                <div class="left">{{x.title[l]}}</div>
                <div class="right">
                  <span class="text">{{x.keyword[l]}}</span>
                </div>
              </header>
              <article class="article">
                <section
                  :style="{'background-image': 'url(' + x.imgUrl + ')'}"
                  :class="{'has-img': !!x.imgUrl}"
                  class="left"></section>
                <section
                  :class="{'has-img': !!x.imgUrl}"
                  class="right">
                  <h3 class="urls">
                    <a v-show="x.demoUrl" :href="x.demoUrl" class="demo-link">{{l === 'CH' ? '在线地址' : 'Online Demo'}}</a>
                    <a v-show="x.gitUrl" :href="x.gitUrl" class="code-link">{{l === 'CH' ? '项目源码' : 'Source Code'}}</a>
                  </h3>
                  <article class="content">
                    <p v-for="y in x.description[l]" class="paragraph" v-html="y"></p>
                  </article>
                </section>
              </article>
            </li>
          </ul>
        </article>
      </template>
      <template v-if="item.hash === 'career'">
        <article :id="item.hash" class="section-content">
          <h4 class="note-title">{{career.note[l]}}</h4>
          <ul class="list-box text-center">
            <li v-for="x in career.items" class="list-items-wrapper">
              <ul class="list-items">
                <li v-for="y in x[l]" class="item"><span class="text">{{y}}</span></li>
              </ul>
            </li>
          </ul>
        </article>
      </template>
      <template v-if="item.hash === 'footprints'">
        <article :id="item.hash" class="section-content">
          <h4 class="note-title">{{footprints.note[l]}}</h4>
          <ul class="card-box text-center">
            <li v-for="x in footprints.details" class="item">
              <a :href="x.destinationUrl" class="card transition">
                <span :style="{'background-image': 'url(' + x.imgUrl + ')'}" class="img"></span>
                <!-- <img :data-original="x.imgUrl" :alt="x.title" class="lazy"> -->
                <aside class="desc transition">{{x.title[l]}}</aside>
              </a>
            </li>
          </ul>
        </article>
      </template>
    </section>

    <div class="shut">{{l === 'CH' ? '离职中...' : 'To leave...'}}</div>
  </article> <!--结束section#frames-->

  <div class="decoration"></div>
  <script src="js/app.min.js"></script>
</body>
</html>
