/*list-box*/
.list-box {
  // padding-top: 20px;
}
.list-box > li {
  display: inline-block;
  vertical-align: top;
  width: 90%;
  margin: 0 auto;
}
.list-box > li:first-child {
  margin-left: 0;
}
.list-item {
  color: #fff;
  background-color: #74868c;
}
.list-item li {
  position: relative;
  border-bottom: 3px double #ccc;
}
.list-item li:hover {
  cursor: pointer;
}
.list-item li:before, .list-item li:after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 0;
  border-bottom: 3px solid #fff;
}
.list-item li:before {
  top: 0;
  left: 100%;
  -moz-transition: 350ms width, 350ms left;
  -ms-transition: 350ms width, 350ms left;
  -o-transition: 350ms width, 350ms left;
  -webkit-transition: 350ms width, 350ms left;
  transition: 350ms width, 350ms left;
}
.list-item li:hover:before {
  width: 100%;
  left: 0;
}
.list-item li:after {
  bottom: 0;
  right: 100%;
  -moz-transition: 350ms width, 350ms right;
  -o-transition: 350ms width, 350ms right;
  -ms-transition: 350ms width, 350ms right;
  -webkit-transition: 350ms width, 350ms right;
  transition: 350ms width, 350ms right;
}
.list-item li:hover:after {
  width: 100%;
  right: 0;
}
.list-item span {
  position: relative;
  display: block;
  margin: 0 20px;
  background-color: #74868c;
  color: #fff;
  line-height: 1.8;
  text-align: center;
  -ms-transition: 300ms all ease-out;
  -moz-transition: 300ms all ease-out;
  -o-transition: 300ms all ease-out;
  -webkit-transition: 300ms all ease-out;
  transition: 300ms all ease-out;
  overflow: hidden;
  font-size: 14px;
}
.list-item li:hover span {
  background-color: #fff;
  color: #000;
}
.list-item span:before, .list-item span:after {
  display: block;
  position: absolute;
  top: 0;
  content: '';
  width: 5px; height: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, .1);
  -moz-transform: skew(15deg, 10deg) rotate(10deg);
  -ms-transform: skew(15deg, 10deg) rotate(10deg);
  -o-transform: skew(15deg, 10deg) rotate(10deg);
  -webkit-transform: skew(15deg, 10deg) rotate(10deg);
  transform: skew(15deg, 10deg) rotate(10deg);
}
.list-item span:before {left: 0;}
.list-item span:after {right: 0;}
.list-item span:before {
  box-shadow: 20px 0 0 rgba(255, 0, 0, .1), 40px 0 0 rgba(255, 0, 0, .1);
  -moz-animation: abefore 2s ease infinite;
  -webkit-animation: abefore 2s ease infinite;
  -o-animation: abefore 2s ease infinite;
  -ms-animation: abefore 2s ease infinite;
  animation: abefore 2s ease infinite;
}
.list-item span:after {
  box-shadow: -20px 0 0 rgba(255, 0, 0, .1), -40px 0 0 rgba(255, 0, 0, .1);
  -moz-animation: aafter 2s ease infinite;
  -webkit-animation: aafter 2s ease infinite;
  -o-animation: aafter 2s ease infinite;
  -ms-animation: aafter 2s ease infinite;
  animation: aafter 2s ease infinite;
}
@keyframes abefore {
  0% {background-color: rgba(255, 0, 0, .1); box-shadow: 20px 0 0 rgba(255, 0, 0, .2), 40px 0 0 rgba(255, 0, 0, .3);}
  20% {background-color: rgba(255, 0, 0, .2); box-shadow: 20px 0 0 rgba(255, 0, 0, .3), 40px 0 0 rgba(255, 0, 0, .2);}
  40% {background-color: rgba(255, 0, 0, .3); box-shadow: 20px 0 0 rgba(255, 0, 0, .1), 40px 0 0 rgba(255, 0, 0, .1);}
  60% {background-color: rgba(255, 0, 0, .2); box-shadow: 20px 0 0 rgba(255, 0, 0, .2), 40px 0 0 rgba(255, 0, 0, .2);}
  80% {background-color: rgba(255, 0, 0, .1); box-shadow: 20px 0 0 rgba(255, 0, 0, .3), 40px 0 0 rgba(255, 0, 0, .3);}
  100% {background-color: rgba(255, 0, 0, .2); box-shadow: 20px 0 0 rgba(255, 0, 0, .2), 40px 0 0 rgba(255, 0, 0, .2);}
}
@-moz-keyframes abefore {
  0% {background-color: rgba(255, 0, 0, .1); box-shadow: 20px 0 0 rgba(255, 0, 0, .2), 40px 0 0 rgba(255, 0, 0, .3);}
  20% {background-color: rgba(255, 0, 0, .2); box-shadow: 20px 0 0 rgba(255, 0, 0, .3), 40px 0 0 rgba(255, 0, 0, .2);}
  40% {background-color: rgba(255, 0, 0, .3); box-shadow: 20px 0 0 rgba(255, 0, 0, .1), 40px 0 0 rgba(255, 0, 0, .1);}
  60% {background-color: rgba(255, 0, 0, .2); box-shadow: 20px 0 0 rgba(255, 0, 0, .2), 40px 0 0 rgba(255, 0, 0, .2);}
  80% {background-color: rgba(255, 0, 0, .1); box-shadow: 20px 0 0 rgba(255, 0, 0, .3), 40px 0 0 rgba(255, 0, 0, .3);}
  100% {background-color: rgba(255, 0, 0, .2); box-shadow: 20px 0 0 rgba(255, 0, 0, .2), 40px 0 0 rgba(255, 0, 0, .2);}
}
@-ms-keyframes abefore {
  0% {background-color: rgba(255, 0, 0, .1); box-shadow: 20px 0 0 rgba(255, 0, 0, .2), 40px 0 0 rgba(255, 0, 0, .3);}
  20% {background-color: rgba(255, 0, 0, .2); box-shadow: 20px 0 0 rgba(255, 0, 0, .3), 40px 0 0 rgba(255, 0, 0, .2);}
  40% {background-color: rgba(255, 0, 0, .3); box-shadow: 20px 0 0 rgba(255, 0, 0, .1), 40px 0 0 rgba(255, 0, 0, .1);}
  60% {background-color: rgba(255, 0, 0, .2); box-shadow: 20px 0 0 rgba(255, 0, 0, .2), 40px 0 0 rgba(255, 0, 0, .2);}
  80% {background-color: rgba(255, 0, 0, .1); box-shadow: 20px 0 0 rgba(255, 0, 0, .3), 40px 0 0 rgba(255, 0, 0, .3);}
  100% {background-color: rgba(255, 0, 0, .2); box-shadow: 20px 0 0 rgba(255, 0, 0, .2), 40px 0 0 rgba(255, 0, 0, .2);}
}
@-webkit-keyframes abefore {
  0% {background-color: rgba(255, 0, 0, .1); box-shadow: 20px 0 0 rgba(255, 0, 0, .2), 40px 0 0 rgba(255, 0, 0, .3);}
  20% {background-color: rgba(255, 0, 0, .2); box-shadow: 20px 0 0 rgba(255, 0, 0, .3), 40px 0 0 rgba(255, 0, 0, .2);}
  40% {background-color: rgba(255, 0, 0, .3); box-shadow: 20px 0 0 rgba(255, 0, 0, .1), 40px 0 0 rgba(255, 0, 0, .1);}
  60% {background-color: rgba(255, 0, 0, .2); box-shadow: 20px 0 0 rgba(255, 0, 0, .2), 40px 0 0 rgba(255, 0, 0, .2);}
  80% {background-color: rgba(255, 0, 0, .1); box-shadow: 20px 0 0 rgba(255, 0, 0, .3), 40px 0 0 rgba(255, 0, 0, .3);}
  100% {background-color: rgba(255, 0, 0, .2); box-shadow: 20px 0 0 rgba(255, 0, 0, .2), 40px 0 0 rgba(255, 0, 0, .2);}
}
@-o-keyframes abefore {
  0% {background-color: rgba(255, 0, 0, .1); box-shadow: 20px 0 0 rgba(255, 0, 0, .2), 40px 0 0 rgba(255, 0, 0, .3);}
  20% {background-color: rgba(255, 0, 0, .2); box-shadow: 20px 0 0 rgba(255, 0, 0, .3), 40px 0 0 rgba(255, 0, 0, .2);}
  40% {background-color: rgba(255, 0, 0, .3); box-shadow: 20px 0 0 rgba(255, 0, 0, .1), 40px 0 0 rgba(255, 0, 0, .1);}
  60% {background-color: rgba(255, 0, 0, .2); box-shadow: 20px 0 0 rgba(255, 0, 0, .2), 40px 0 0 rgba(255, 0, 0, .2);}
  80% {background-color: rgba(255, 0, 0, .1); box-shadow: 20px 0 0 rgba(255, 0, 0, .3), 40px 0 0 rgba(255, 0, 0, .3);}
  100% {background-color: rgba(255, 0, 0, .2); box-shadow: 20px 0 0 rgba(255, 0, 0, .2), 40px 0 0 rgba(255, 0, 0, .2);}
}

@-webkit-keyframes aafter {
  0% {background-color: rgba(255, 0, 0, .1); box-shadow: -20px 0 0 rgba(255, 0, 0, .2), -40px 0 0 rgba(255, 0, 0, .3);}
  20% {background-color: rgba(255, 0, 0, .2); box-shadow: -20px 0 0 rgba(255, 0, 0, .3), -40px 0 0 rgba(255, 0, 0, .2);}
  40% {background-color: rgba(255, 0, 0, .3); box-shadow: -20px 0 0 rgba(255, 0, 0, .2), -40px 0 0 rgba(255, 0, 0, .1);}
  60% {background-color: rgba(255, 0, 0, .2); box-shadow: -20px 0 0 rgba(255, 0, 0, .1), -40px 0 0 rgba(255, 0, 0, .2);}
  80% {background-color: rgba(255, 0, 0, .1); box-shadow: -20px 0 0 rgba(255, 0, 0, .2), -40px 0 0 rgba(255, 0, 0, .3);}
  100% {background-color: rgba(255, 0, 0, .2); box-shadow: -20px 0 0 rgba(255, 0, 0, .3), -40px 0 0 rgba(255, 0, 0, .2);}
}
@-moz-keyframes aafter {
  0% {background-color: rgba(255, 0, 0, .1); box-shadow: -20px 0 0 rgba(255, 0, 0, .2), -40px 0 0 rgba(255, 0, 0, .3);}
  20% {background-color: rgba(255, 0, 0, .2); box-shadow: -20px 0 0 rgba(255, 0, 0, .3), -40px 0 0 rgba(255, 0, 0, .2);}
  40% {background-color: rgba(255, 0, 0, .3); box-shadow: -20px 0 0 rgba(255, 0, 0, .2), -40px 0 0 rgba(255, 0, 0, .1);}
  60% {background-color: rgba(255, 0, 0, .2); box-shadow: -20px 0 0 rgba(255, 0, 0, .1), -40px 0 0 rgba(255, 0, 0, .2);}
  80% {background-color: rgba(255, 0, 0, .1); box-shadow: -20px 0 0 rgba(255, 0, 0, .2), -40px 0 0 rgba(255, 0, 0, .3);}
  100% {background-color: rgba(255, 0, 0, .2); box-shadow: -20px 0 0 rgba(255, 0, 0, .3), -40px 0 0 rgba(255, 0, 0, .2);}
}
@-ms-keyframes aafter {
  0% {background-color: rgba(255, 0, 0, .1); box-shadow: -20px 0 0 rgba(255, 0, 0, .2), -40px 0 0 rgba(255, 0, 0, .3);}
  20% {background-color: rgba(255, 0, 0, .2); box-shadow: -20px 0 0 rgba(255, 0, 0, .3), -40px 0 0 rgba(255, 0, 0, .2);}
  40% {background-color: rgba(255, 0, 0, .3); box-shadow: -20px 0 0 rgba(255, 0, 0, .2), -40px 0 0 rgba(255, 0, 0, .1);}
  60% {background-color: rgba(255, 0, 0, .2); box-shadow: -20px 0 0 rgba(255, 0, 0, .1), -40px 0 0 rgba(255, 0, 0, .2);}
  80% {background-color: rgba(255, 0, 0, .1); box-shadow: -20px 0 0 rgba(255, 0, 0, .2), -40px 0 0 rgba(255, 0, 0, .3);}
  100% {background-color: rgba(255, 0, 0, .2); box-shadow: -20px 0 0 rgba(255, 0, 0, .3), -40px 0 0 rgba(255, 0, 0, .2);}
}
@-o-keyframes aafter {
  0% {background-color: rgba(255, 0, 0, .1); box-shadow: -20px 0 0 rgba(255, 0, 0, .2), -40px 0 0 rgba(255, 0, 0, .3);}
  20% {background-color: rgba(255, 0, 0, .2); box-shadow: -20px 0 0 rgba(255, 0, 0, .3), -40px 0 0 rgba(255, 0, 0, .2);}
  40% {background-color: rgba(255, 0, 0, .3); box-shadow: -20px 0 0 rgba(255, 0, 0, .2), -40px 0 0 rgba(255, 0, 0, .1);}
  60% {background-color: rgba(255, 0, 0, .2); box-shadow: -20px 0 0 rgba(255, 0, 0, .1), -40px 0 0 rgba(255, 0, 0, .2);}
  80% {background-color: rgba(255, 0, 0, .1); box-shadow: -20px 0 0 rgba(255, 0, 0, .2), -40px 0 0 rgba(255, 0, 0, .3);}
  100% {background-color: rgba(255, 0, 0, .2); box-shadow: -20px 0 0 rgba(255, 0, 0, .3), -40px 0 0 rgba(255, 0, 0, .2);}
}
@keyframes aafter {
  0% {background-color: rgba(255, 0, 0, .1); box-shadow: -20px 0 0 rgba(255, 0, 0, .2), -40px 0 0 rgba(255, 0, 0, .3);}
  20% {background-color: rgba(255, 0, 0, .2); box-shadow: -20px 0 0 rgba(255, 0, 0, .3), -40px 0 0 rgba(255, 0, 0, .2);}
  40% {background-color: rgba(255, 0, 0, .3); box-shadow: -20px 0 0 rgba(255, 0, 0, .2), -40px 0 0 rgba(255, 0, 0, .1);}
  60% {background-color: rgba(255, 0, 0, .2); box-shadow: -20px 0 0 rgba(255, 0, 0, .1), -40px 0 0 rgba(255, 0, 0, .2);}
  80% {background-color: rgba(255, 0, 0, .1); box-shadow: -20px 0 0 rgba(255, 0, 0, .2), -40px 0 0 rgba(255, 0, 0, .3);}
  100% {background-color: rgba(255, 0, 0, .2); box-shadow: -20px 0 0 rgba(255, 0, 0, .3), -40px 0 0 rgba(255, 0, 0, .2);}
}
