/*在页面上显示网页维修状态*/
.shut {
  display: none;
}
@media screen and (min-width: 1200px) {
  .shut {
    display: block;
    position: absolute;
    width: 150px;
    height: 50px;
    top: 0;
    left: 0;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    z-index: -1;
    transform-origin: top right;
    transform: rotate(-45deg);
    margin-left: -150px;
    &:after {
      position: absolute;
      left: 0;
      content: '';
      width: 0;
      height: 0;
      border: 75px solid;
      border-color: rgba(0, 0, 0, .8) transparent transparent transparent;
      z-index: -2;
    }
  }
}
