/*table-box*/
.table-box {
  padding-top: 20px;
  li {
    display: inline-block;
    font-size: 0;
    min-width: 23%;
    margin-left: 1.6%;
  }
  span {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    border: 1px solid #a9c6c9;
    padding: 0 8px;
    line-height: 1.5;
    &:first-child {
      color: #d89f59;
      background-color: #daaa6e;
      background-color: rgba(87, 89, 146, .6);
    }
    &:last-child {
      color: #c9e81e;
      background-color: #c3dde0;
      background-color: rgba(66, 175, 160, .6);
    }
  }
}
