/*section-sidebar in page-content*/
.section-sidebar {
  position: relative;
  background-color: rgba(0, 0, 0, .2);
  text-align: center;
}
.section-sidebar > nav {
  width: 5em;
}
.section-sidebar li {
  line-height: 2;
}
.section-sidebar li:nth-last-of-type(2) {
  margin-bottom: 100px;
}
.section-sidebar li:nth-last-of-type(1) {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.section-sidebar li a {
  display: block;
  color: #bce8f1;
  -webkit-transition: 300ms all linear;
  -moz-transition: 300ms all linear;
  -ms-transition: 300ms all linear;
  -o-transition: 300ms all linear;
  transition: 300ms all linear;
}
.section-sidebar li a:hover {
  background: #4eb8ea scroll no-repeat top center;
  background-image: -ms-linear-gradient(top, #f58c21 0%, #4eb8ea 50%, #d6e636 100%);
  background-image: -moz-linear-gradient(top, #f58c21 0%, #4eb8ea 50%, #d6e636 100%);
  background-image: -webkit-linear-gradient(top, #f58c21 0%, #4eb8ea 50%, #d6e636 100%);
  background-image: -o-linear-gradient(top, #f58c21 0%, #4eb8ea 50%, #d6e636 100%);
  background-image: linear-gradient(top, #f58c21 0%, #4eb8ea 50%, #d6e636 100%);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 0 4px 2px #000;
}
.section-sidebar li a.active {
  background-color: rgba(240, 160, 80, .8);
  -webkit-box-shadow: 2px 2px 0 1px black;
  -moz-box-shadow: 2px 2px 0 1px black;
  box-shadow: 2px 2px 0 1px black;
}
