/*shadow-box*/
.shadow-box {
  & > li {
    position: relative;
    float: left;
    background-color: rgba(255, 255, 255, .8);
    width: 28%;
    margin-left: 1.6%;
    text-align: center;
    &:nth-child(3n+1) {
      top: 21px;
      left: 34px;
      box-shadow: 0 -8px 0 4px rgba(78, 184, 234, .1), 8px 0 0 0 rgba(78, 184, 234, .3), 0 0 0 0 rgba(78, 184, 234, .6), -8px 0 0 4px rgba(78, 184, 234, .9);
    }
    &:nth-child(3n+2) {
      top: 144px;
      left: 21px;
      box-shadow: 0 -8px 0 4px rgba(214, 230, 54, .9), 8px 0 0 0 rgba(214, 230, 54, .1), 0 0 0 0 rgba(214, 230, 54, .3), -8px 0 0 4px rgba(214, 230, 54, .6);
    }
    &:nth-child(3n) {
      top: 94px;
      left: 76px;
      box-shadow: 0 -8px 0 4px rgba(245, 140, 33, .6), 8px 0 0 0 rgba(245, 140, 33, .9), 0 0 0 0 rgba(245, 140, 33, .1), -8px 0 0 4px rgba(245, 140, 33, .3);
    }
    &:nth-child(4n) {
      top: 37px;
      left: -48px;
    }
    &:nth-child(3n+1) h3 {
      background-color: rgba(78, 184, 234, .9);
    }
    &:nth-child(3n+2) h3 {
      background-color: rgba(214, 230, 54, .6);
    }
    &:nth-child(3n) h3 {
      background-color: rgba(245, 140, 33, .3);
    }
  }
  li {
    h3 {
      font-size: 14px;
    }
    ul {
      font-size: 12px;
    }
  }
}
